

.title {
    width: 90vw;
    margin: 0 auto;
    margin-top: 70px;
}


.eventList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 90vw;
    margin: 0 auto;
    margin-top: 30px;

}