@import "../../app/default";

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: $primary-app-color;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;



    .navactions {
        display: flex;
        list-style: none;
        gap: 20px;
        padding: 5px;


        li {
            cursor: pointer;
            color: black;
            &:hover {
                color: white;
                transition: color 0.1s ease-in;
            }
        }

    }
}

